@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }


.main {
  max-height: 550px;;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}
footer {
  clear: both;
  position: relative;
  height: 250px;
  margin-top: -200px;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
 
  padding: 55px 50px;
  margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
 
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
  .footer-distributed{
    font: bold 14px sans-serif;
  
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
 
}


*{
	margin: 0;
	padding: 0;
}

/*.container{
	background-color:#8B0000;
	height: 60px;
}*/

.search-box{
	width: 400px;
	height: 20px;
	position: absolute;
	float: center;
  top: 05%;
  margin-top: -1%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #ffff;
  border-radius: 40px;
  padding: 10px;

}

.search-txt{
	width: 400px;
	margin-top: -10px;
	border:none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 15px;	
	line-height: 40px;
}

#lupa_search {
	width:25px;
	height: 25px;
	margin-left: 105%;
	margin-top: -8%;
	float: left;
}

#logo_funticket {
	width:100px;
	height: 50px;
	margin-top: 0.2%;
	margin-left: 7% !important;
}

.dropbtn {
  background: none !important;
  border: none !important;
}

.dropbtn img {
  width: 50px;
  font-size: 16px;
  border: none;
}

/*.dropdown {
  position: relative;
  top: -50px;
  left: 93% !important;
  display: inline-block;
}*/

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10%;
  background-color: #ceb3b3;
  font-family: Jazz LET, fantasy;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #CD2015;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#imgUser {
	width:35px;
	height: 35px;
	margin-left: 500%;
	margin-top: -18%;
	float: left;
}

.wtricks-headerbar {
        width: 100%;
        height: 100px;
        padding-top: 10px;
      }
        .wtricks-logo {
          width: 286px;
          height: 77px;
          margin: 0 auto;
          display: block;
          text-indent: -9999px;
        }
      
      .wrap {
        width: 100%;
        height: 100vh;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      
        .page-header, .page-footer {
          width: 100%;
          margin: 20px;
          text-align: center;
        }
            @media (min-width: 800px) {
              .page-header, .page-footer {
                width: 800px;
                padding: 0;
              }
            }
          .page-header p {
            margin-top: 20px;
            font-size: 20px;
            font-family: Comic Sans MS, Comic Sans, cursive;
            color: #fff;
          }
      .page-footer p {
        color: #ccc;
      }
      .page-footer a {
        color: #000;
        text-decoration: none;
      }
      
      .gallery-container {
        width: 90%;
        position: relative;
        margin: 0 5%;
        background: #333;
        padding: 2px;
      }
      #Titulo {
          font-size: 40px;
          color: #fff;
          font-family: fantasy;
      }
        @media (min-width: 480px) {
            .gallery-container {
              width: 420px;
              margin: auto;
            }
        }
      
      .mySlides {
        display: none;
      }
    
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
      }
      

      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
 
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      

      .text {
        color: #fff;
        font-size: 12px;
        padding: 8px 12px;
        width: 100%;
        text-align: center;
      }
      
      .imgslide {
        width: 100%;
      }
      
      .numbertext {
        color: #fff;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      @media (max-width: 768px) {
        .numbertext {
          top: 15px;
        }
      }
      
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

.wtricks-headerbar {
        width: 100%;
        height: 100px;
        padding-top: 10px;
      }
        .wtricks-logo {
          width: 286px;
          height: 77px;
          margin: 0 auto;
          display: block;
          text-indent: -9999px;
        }
      
      .wrap {
        width: 100%;
        height: 100vh;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      
        .page-header, .page-footer {
          width: 100%;
          margin: 20px;
          text-align: center;
        }
            @media (min-width: 800px) {
              .page-header, .page-footer {
                width: 800px;
                padding: 0;
              }
            }
          .page-header p {
            margin-top: 20px;
            font-size: 20px;
            font-family: Comic Sans MS, Comic Sans, cursive;
            color: #fff;
          }
      .page-footer p {
        color: #ccc;
      }
      .page-footer a {
        color: #000;
        text-decoration: none;
      }
      
      .gallery-container {
        width: 90%;
        position: relative;       
        margin: 0 5%;
        background: #333;
        padding: 2px;
      }

      #Titulo {
          font-size: 40px;
          color: #fff;
          font-family: fantasy;
      }
        @media (min-width: 480px) {
            .gallery-container {
              width: 1180px;
              margin: auto;
              margin-top: 12px;
            }
        }
   
      .mySlides {
        display: none;
      }
      
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
      }
      
      .next {
      	margin-top: 10%;
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      .prev {
      	margin-top: 10%;
        border-radius: 3px 0 0 3px;
      }
      
 
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      

      .text {
        color: #fff;
        font-size: 12px;
        padding: 8px 12px;
        width: 100%;
        text-align: center;
      }
      
      .imgslide {
        width: 100%;
      }
      
      .numbertext {
        color: #fff;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      @media (max-width: 768px) {
        .numbertext {
          top: 15px;
        }
      }
      
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      div.box1 {
        width: 180px;
        margin-left: 5%;
        display: inline-block;
        margin-top: 20%;
        top: 0;
      }

      div.box1{
      font-family: OCR A Std, monospace;    
      }

      div.box2 {
        width: 180px;
        margin-left: 5%;
        display: inline-block;
        margin-top: 3%;
      }
      
      div.box2{
      font-family: OCR A Std, monospace;
      }

      div.box3 {
        width: 180px;
        margin-left: 5%;
        display: inline-block;
        margin-top: 3%;
      }
      
      div.box3{
      font-family: OCR A Std, monospace;
      }

      div.box4 {
        width: 180px;
        margin-left: 5%;
        display: inline-block;
        margin-top: 3%;
      }
      
      div.box4{
      font-family: OCR A Std, monospace;
      }

.nav-footer {
    position: relative;
    padding: 60px 20px;
}

.nav-footer {
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222;
  color: #fff;
}

body {
line-height: 1.6;
    font-family: Arial,x-locale-body,sans-serif;
    letter-spacing: -.00278rem;
    font-size: 18px;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;

}